<section class="sixth" id="sixth">
  <div class="sixth__bg">

    <div class="container">

      <div class="sixth__main container">
        <div class="sixth__main-img">
          <span class="icon-Server sixth__main-img-server"></span>
        </div>

        <div class="sixth__main-content">
          <h3 class="sixth__main-content-title">Коробочное решение</h3>
          <div class="sixth__main-content-title-desctop">
            <h4 class="sixth__main-content-title-mini">Полное управление процессом</h4>
            <p class="sixth__main-content-text">Если вам по каким-либо причинам не подходит облачное решение, вы можете поставить программный продукт и использовать его на своём сервере.</p>
            <button type="button" class="sixth__main-content-btn" data-toggle="modal" data-target="#exampleModalCenter">Запросить условия</button>
          </div>
        </div>
      </div>

      <div class="sixth__main-content-title-mobile">
        <h4 class="sixth__main-content-title-mini">Полное управление процессом</h4>
        <p class="sixth__main-content-text">Если вам по каким-либо причинам не подходит облачное решение, вы можете поставить программный продукт и использовать его на своём сервере.</p>
        <button type="button" class="sixth__main-content-btn" data-toggle="modal" data-target="#exampleModalCenter">Запросить условия</button>
      </div>

    </div>

    <app-sixth-footer></app-sixth-footer>

  </div>
</section>
