.content {
  font-size: 1.5rem;
  line-height: 1.8125rem;
}

.item {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 2.5rem;
  line-height: 1;
  color: #2E5473;
  width: 5rem;
  flex-shrink: 0;
  display: block;
  margin: auto 0;
  text-align: center;
}

.icon-sm {
  font-size: 2rem;
}

@media (max-width: 992px) {

  .item {
    padding-bottom: 2rem;
  }

  .content {
    font-size: 0.915rem;
  }
}
