@font-face {
  font-family: ProximaNova;
  src: local("ProximaNova-Regular");
  scr: url("~assets/fonts/ProximaNova-Regular/ProximaNova-Regular.woff");
  src: url("~assets/fonts/ProximaNova-Regular/ProximaNova-RegularIt.eot") format('embedded-opentype'),
  url("~assets/fonts/ProximaNova-Regular/ProximaNova-Regular.ttf") format('truetype'),
  url("~assets/fonts/ProximaNova-Regular/ProximaNova-Regular.woff") format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: ProximaNova;
  src: local("ProximaNova-Bold");
  scr: url("~assets/fonts/ProximaNova-Bold/ProximaNova-Bold.woff");
  src: url("~assets/fonts/ProximaNova-Bold/ProximaNova-Bold.eot") format('embedded-opentype'),
  url("~assets/fonts/ProximaNova-Bold/ProximaNova-Bold.ttf") format('truetype'),
  url("~assets/fonts/ProximaNova-Bold/ProximaNova-Bold.woff") format('woff');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: ProximaNova;
  src: local("ProximaNova-Light");
  scr: url("~assets/fonts/ProximaNova-Light/ProximaNova-Light.woff");
  src: url("~assets/fonts/ProximaNova-Light/ProximaNova-Light.eot") format('embedded-opentype'),
  url("~assets/fonts/ProximaNova-Light/ProximaNova-Light.ttf") format('truetype'),
  url("~assets/fonts/ProximaNova-Light/ProximaNova-Light.woff") format('woff');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: ProximaNova;
  src: local("ProximaNova-Semibold");
  scr: url("~assets/fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff");
  src: url("~assets/fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot") format('embedded-opentype'),
  url("~assets/fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf") format('truetype'),
  url("~assets/fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff") format('woff');
  font-style: normal;
  font-weight: 500;
}
