.footer {
  padding-bottom: 8rem;
  border-bottom: 1.3px solid #F2F2F2;
}

.btn-free {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  background: linear-gradient(180deg, #00D0F7 0%, #007EEE 100%);
  border-radius: 69px;
  border: none;
  padding: 1.3rem 2.5rem;
  box-shadow: 4px 4px 20px rgba(0, 135, 255, 0.2);
  margin: 0 auto;

  &:hover {
    background: linear-gradient(180deg, #FF9944 0%, #FC6076 100%);
    box-shadow: 4px 4px 20px rgba(242, 153, 74, 0.2);
  }
}

@media (max-width: 992px) {
  .footer {
    padding-bottom: 4rem;
  }
  .btn-free {
    font-size: 1rem;
    margin-top: 1rem;
  }

}
