<div class="sixth__footer-bg">
  <div class="container">
    <div class="sixth__footer-content">
      <div class="sixth__footer-content-contacts">
        <a href="tel:+79319725979" class="sixth__footer-content-contacts-phone">+7 931 972 59 79</a>
        <a href="mailto:info@truemark.ru"
           class="sixth__footer-content-contacts-mail">info@truemark.ru</a>
      </div>
      <div class="sixth__footer-content-info">
        <p class="sixth__footer-content-info-firm">ИП Черных Геннадий Сергеевич</p>
        <a href="pdf/requisites.pdf" class="sixth__footer-content-info-requisites" target="_blank">реквизиты</a>
      </div>
    </div>
  </div>
</div>
