<section class="third">
  <div class="third__bg">
    <div class="container">

      <div class="third__header">
        <h3 class="third__header-title">Ваш бизнес может больше!</h3>
      </div>

      <div class="third__main">
        <div class="third__main-video-mob js-video-mob">
          <a href="#" class="spoiler-trigger third__main-video-mob-btn"><div class="third__main-video-mob-btn-img"></div><span>Возможности ЛК</span></a>
          <div class="spoiler-block third__main-video-mob-spoiler js-spoiler-block">
<!--            <video width="100%" controls="controls" preload="auto" autoplay="true" loop="true" muted="muted">-->
<!--              <source src="assets/video/landing.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>-->
<!--            </video>-->
          </div>
        </div>

        <div class="third__main-video">
          <video width="636" height="430" controls="controls" preload="auto" autoplay="true" loop="true" muted="muted">
            <source src="#" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
          </video>
        </div>

        <div class="third__main-capabilities">
          <h4 class="third__main-capabilities-title">Личный кабинет позволит:</h4>

          <app-capabilities-list [capabilities]="capabilities" class="third__main-capabilities-list"></app-capabilities-list>

<!--          <ul class="third__main-capabilities-list">-->

<!--            <li class="third__main-capabilities-item" *ngFor="let i of capabilities">-->
<!--              <div class="third__main-capabilities-item-icon">-->
<!--                <span [ngClass]="i.icon"></span>-->
<!--              </div>-->
<!--              <div class="third__main-capabilities-item-content">{{i.text}}</div>-->
<!--            </li>-->

<!--          </ul>-->
        </div>
      </div>
    </div>
  </div>
</section>


