<section class="first">
  <div class="first__bg">
    <div class="container first__container">

      <app-header></app-header>

      <div class="first__main">
        <div class="first__main-info">
          <h1 class="first__main-title">Автоматизация<br>удостоверяющего центра</h1>
          <div>
            <h2 class="first__main-title-little">Ваш бизнес может больше.</h2>
            <p class="first__main-text">Не теряйте время, делая рутинные операции вручную.</p>
          </div>
        </div>
        <div class="first__main-img">
          <img src="assets/img/Vector-1.svg" alt="часы">
          <img src="assets/img/Vector-2.svg" class="first__main-img-arrow" alt="Стрелка">
        </div>
      </div>

      <div class="first__footer">
        <a href="#second" class="first__footer-btn js-anchor-link"><span class="icon-Mouse"></span></a>
      </div>
    </div>
  </div>
</section>
